.container {
	height: 100%;
	padding: 16rpx 16rpx 16rpx;
	box-sizing: border-box;
	width: 100%;
}

.scanimg {
	height: 64rpx;
	width: 64rpx;
}

.scantext {
	font-size: 36rpx;
	margin-left: 24rpx;
}

.center {
	text-align: center;
}

.end {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0; 
	bottom: 150rpx;
	width: 64% !important;
}
